/* app/h2h/[comparison]/page.module.css */
.main {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.contentGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 1rem;
}